<br> <br> <br> <br>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="d-grid gap-2 col-6 mx-auto"><br>
            <a type="button" routerLink="/temperatura" class="btn btn-outline-info">Monitorear Temperatura</a>
        </div><br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="d-grid gap-2 col-6 mx-auto"><br>
          <a type="button" routerLink="/humedad" class="btn btn-outline-info">Monitorear Humedad</a>
        </div><br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="d-grid gap-2 col-6 mx-auto"><br>
          <a type="button" routerLink="/movimiento" class="btn btn-outline-info">Monitorear Movimiento</a>
        </div><br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="d-grid gap-2 col-6 mx-auto"><br>
          <a type="button" routerLink="/luz" class="btn btn-outline-info">Monitorear Luz</a>
        </div><br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="d-grid gap-2 col-6 mx-auto"><br>
          <a type="button" routerLink="/temperatura" class="btn btn-outline-info">Monitorear </a>
        </div><br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="d-grid gap-2 col-6 mx-auto"><br>
          <a type="button" routerLink="/temperatura" class="btn btn-outline-info">Monitorear Temperatura</a>
        </div><br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="d-grid gap-2 col-6 mx-auto"><br>
          <a type="button" routerLink="/temperatura" class="btn btn-outline-info">Monitorear Temperatura</a>
        </div><br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="d-grid gap-2 col-6 mx-auto"><br>
          <a type="button" routerLink="/temperatura" class="btn btn-outline-info">Monitorear Temperatura</a>
        </div><br>
      </div>
    </div>
  </div>